In [2]:
import pandas as pd
from mlxtend.classifier import OneRClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('ContactLens.csv')
df.head()

     Age SpectaclePrescrip Astigmatism TearProdRate ContactLens
0  young             myope          no      reduced        none
1  young             myope          no       normal        soft
2  young             myope         yes      reduced        none
3  young             myope         yes       normal        hard
4  young      hypermetrope          no      reduced        none

In [4]:
le = LabelEncoder()
for col in df.columns:
  df[col] = le.fit_transform(df[col])

In [5]:
x = df.drop('ContactLens', axis=1)
x

    Age  SpectaclePrescrip  Astigmatism  TearProdRate
0     2                  1            0             1
1     2                  1            0             0
2     2                  1            1             1
3     2                  1            1             0
4     2                  0            0             1
5     2                  0            0             0
6     2                  0            1             1
7     2                  0            1             0
8     0                  1            0             1
9     0                  1            0             0
10    0                  1            1             1
11    0                  1            1             0
12    0                  0            0             1
13    0                  0            0             0
14    0                  0            1             1
15    0                  0            1             0
16    1                  1            0             1
17    1                  1            0             0
18    1                  1            1             1
19    1                  1            1             0
20    1                  0            0             1
21    1                  0            0             0
22    1                  0            1             1
23    1                  0            1             0

In [6]:
y = df['ContactLens']
y

0     1
1     2
2     1
3     0
4     1
5     2
6     1
7     0
8     1
9     2
10    1
11    0
12    1
13    2
14    1
15    1
16    1
17    1
18    1
19    0
20    1
21    2
22    1
23    1
Name: ContactLens, dtype: int32

In [ ]:

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

Indeks yang masuk ke test set: [8, 16, 0, 18, 11]

In [ ]:
#Train OneR classifier
model = OneRClassifier()
model.fit(x_train.values, y_train) 

#Predict the response for test dataset
y_pred = model.predict(x_test.values) 
y_pred

# x_train.values and x_test.values: By using .values,extract the underlying NumPy array from the Pandas DataFrames x_train and x_test. 
# This provides the classifier with the expected array-like input.

array([1, 1, 1, 1, 2])

In [11]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.80